/* .app-container{
    font-family: Abril Fatface;
font-style: normal;
font-weight: normal;
font-size: 12px;
line-height: 16px;

color: #C4C4C4;
} */

.logo{
    position: absolute;
left: 29.95%;
right: 27.78%;
top: 8.15%;
bottom: 86.27%;

font-family: Cortado;
font-style: normal;
font-weight: normal;
font-size: 40px;
line-height: 50px;
text-align: center;
color:#EF019F;

text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
} /*logo end*/

.welcome{

position: absolute;
left: 3.86%;
right: 65.7%;
top: 17.3%;
bottom: 78.91%;

font-family: Abril Fatface;
font-style: normal;
font-weight: normal;
font-size: 30px;
line-height: 40px;
text-align: center;

color: #FFFFFF;
} /*welcome text end*/

.intro{

    position: absolute;
    left: 6.76%;
    right: 7.25%;
    top: 22.54%;
    bottom: 73.44%;
    
    font-family: Muli;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    
    color: #FFFFFF;

} /*intro text after welcome end*/

.sign-in{

    position: absolute;
    left: 4.11%;
    right: 79.71%;
    top: 31.58%;
    bottom: 66.18%;
    
    font-family: Abril Fatface;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
    
    color: #FFFFFF;

} /*sign-in words styling*/

.sign-up{
    position: absolute;
left: 27.78%;
right: 50.72%;
top: 30.58%;
bottom: 66.41%;
font-family: Abril Fatface;
font-style: normal;
font-weight: normal;
font-size: 24px;
line-height: 32px;

color: #FFFFFF;

text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);

} /*sign up words styling*/